@model IEnumerable<GCD0803TodoManagement.Models.Todo>
@{
	ViewBag.Title = "Index";
}

<h2>Index TodoesController</h2>

<table class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Description</th>
			<th scope="col">Category</th>
			<th scope="col">Due Date</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var todo in Model)
		{
			<tr>
				<td>@todo.Id</td>
				<td>@todo.Description</td>
				<td>@todo.Category</td>
				<td>@todo.DueDate</td>
				<td>
					@Html.ActionLink(
								 "Details",
								 "Details",
								 "Todoes",
								 new { id = todo.Id },
								 new { @class = "btn btn-primary" }
								 )
					<a href="#" class="btn btn-danger">Delete</a>
					<a href="#" class="btn btn-default">Edit</a>
				</td>
			</tr>
		}

	</tbody>
</table>